:root {
  --yellow-100: #fffce3;
  --yellow-200: #fef9c7;
  --yellow-300: #fef6aa;
  --yellow-400: #fef38e;
  --yellow-500: #fdef72;
  --yellow-600: #fde939;
  --yellow-700: #fce61d;

  --gray-100: #e9ecef;

  --red-100: #e5383b;

  --white-100: #fff;

  --green-100: #149911;

  --black-100: #000;

  --pink-100: #ff5c8a;
}
